@use '../util' as *;

.header {
  display: flex;
  flex-direction: column;
  margin-top: rem(36);
  gap: 10px;

  @include breakpoint(medium) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    width: 100%;

    @include breakpoint(medium) {
      width: auto;
    }
  }

  &__subtitle {
    font-size: rem(14);
    font-weight: 700;
    color: var(--text-color2);
  }

  &__toggle {
  }
}